<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
    	Alex's catalogs
        {% if pageTitle is defined %}
        	- {{ pageTitle }}
        {% endif %}
    </title>
</head>

<body>